@model BasketViewModel
@{
    ViewData["Title"] = "Basket";
}

<div>
    <partial name="_BasketPartial" model="Model" />
</div>

<div class="d-flex justify-content-between py-3">
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Continue Shopping</a>
    <a href="#" class="btn btn-success">Checkout</a>
</div>

